.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px 108px 80px;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.footer__social-heading {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Inter, Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social-link {
  text-decoration: none;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  transition: opacity 0.3s;
}

.footer__social-link:hover {
  opacity: 0.7;
}

.footer__social-icon {
  margin-right: 10px;
}

.footer__copyright {
  padding-bottom: 60px;
  padding-left: 80px;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

@media (max-width: 675px) {
  .footer__content {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer__copyright {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 14px;
  }
}
