
.form{
  max-width: 385px;
}

.form__fieldset{
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
}

.form__label{
  margin-bottom: 8px;
}

.form__button{
  border-radius: 4px;
  background-color: #1878dc;
  transition: background-color 0.2s linear 0.1s;
  padding: 20px 0;
  margin-bottom: 32px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.4s;
}

.form__button:hover{
  background-color: #3f96f3;
}

.form__button:hover{
  background-color: #3f96f3;
}

.form__checkbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.checkbox{
  margin-right: 12px;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input::-ms-input-placeholder,
input::placeholder  {
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
}

input[type="text"],
input[type="number"],
input[type="datetime-local"],
input[type="email"]{
margin-bottom: 32px;
padding: 15px 20px;
border: 1px solid #838383;
}