.recipes {
  background-image: url(../images/background_recipes.svg);
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
  width: 100%;
  padding: 100px 80px 215px 80px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #ffffff;
}

.recipes__title {
  margin-bottom: 24px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0 0 80px 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.recipes__iframe {
  width: 400px;
  height: 400px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 16px;
}

.recipes__video-captions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

@media (max-width: 1100px) {
  .recipes {
    padding: 50px 80px;
  }
  .recipes__title {
    text-align: center;
    margin-top: 0;
  }

  .recipes__subtitle {
    max-width: 100%;
    text-align: center;
  }

  .recipes__videos {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80%;
  }

  .recipes__iframe {
    width: 100%;
    height: 300px;
  }

  .recipes__video {
    width: 100%;
  }
}

@media (max-width: 675px) {
  .recipes__video {
    width: 400px;
    height: 400px;
  }

  .recipes__subtitle {
    font-size: 16px;
  }

  .recipes__title {
    font-size: 30px;
  }
}

@media (max-width: 439px) {
  .recipes {
    padding: 0;
  }

  .recipes__video {
    width: 100%;
  }

  .recipes__video-captions {
    font-size: 12px;
    max-width: 80%;
    justify-content: center;
    gap: 20px;
  }
}
