.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reservation__title {
  margin: 30px 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin-top: 80px;
  margin-bottom: 120px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 439px) {
  .reservation {
    margin: 0 auto;
  }

  .reservation__title {
    font-size: 40px;
    margin-top: 40px;
  }
}
